<a href="https://colab.research.google.com/github/Fush1m1/colab_copies/blob/main/signate220319beginer%E9%99%90%E5%AE%9A%E3%82%B3%E3%83%B3%E3%83%9A%EF%BC%88%E7%B3%96%E5%B0%BF%E7%97%85%EF%BC%89220326.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データとライブラリの読み込み

In [1]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submit.csv',header=None)

In [3]:
train

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,200,9,125,74,0,0,28.536910,0.444902,45,1
1,3832,4,109,80,0,0,28.047673,0.238243,22,0
2,4927,4,88,78,39,0,52.371341,0.279471,26,0
3,4088,9,125,74,0,0,40.062688,0.203922,45,0
4,3644,5,107,78,44,284,52.935068,0.284959,45,1
...,...,...,...,...,...,...,...,...,...,...
2995,4931,4,88,74,17,0,33.848723,0.171073,23,0
2996,3264,0,144,88,0,0,26.846832,0.259957,21,1
2997,1653,6,117,96,36,0,28.101646,0.716126,22,1
2998,2607,2,113,74,0,0,33.079021,0.266179,38,1
2999,2732,2,108,80,0,0,32.969598,0.241814,22,0

In [4]:
test

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,398,0,126,80,0,0,40.096264,0.822517,21
1,3833,3,88,60,20,0,39.810590,0.204331,22
2,4836,3,114,76,0,0,33.198760,0.521011,21
3,4572,1,146,74,0,0,26.890259,0.504950,38
4,636,1,123,90,26,140,40.270088,0.800513,28
...,...,...,...,...,...,...,...,...,...
1995,3138,4,150,60,0,0,39.385785,0.175051,26
1996,191,6,153,88,0,0,38.614204,0.509367,28
1997,3294,7,106,78,0,0,51.678147,0.728404,29
1998,3073,2,101,70,0,0,40.271989,0.316558,26
1999,361,5,109,80,0,0,51.295811,0.256684,23

# クレンジングと特徴量の作成

In [10]:
train = train.drop("index", axis=1)
test = test.drop("index", axis=1)

In [ ]:
train.isnull()

# モデル構築

In [13]:
X_train = train.drop(['Outcome'], axis=1)
y_train = train['Outcome']

In [15]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#X_trainとy_trainをtrainとvalidに分割
train_x, valid_x, train_y, valid_y = train_test_split(X_train, y_train, test_size=0.33, random_state=0)

#LightGBMの分類器をインスタンス化
gbm = lgb.LGBMClassifier(objective='binary')

#trainとvalidを指定し学習
gbm.fit(train_x, train_y, eval_set = [(valid_x, valid_y)],
        early_stopping_rounds=20, #20回連続でlossが下がらなかったら終了
        verbose=10  #10round毎に、lossを表示
)

Training until validation scores don't improve for 20 rounds.
[10]	valid_0's binary_logloss: 0.490868
[20]	valid_0's binary_logloss: 0.473108
[30]	valid_0's binary_logloss: 0.46972
[40]	valid_0's binary_logloss: 0.468288
[50]	valid_0's binary_logloss: 0.467052
Early stopping, best iteration is:
[37]	valid_0's binary_logloss: 0.466403

LGBMClassifier(objective='binary')

In [ ]:
#valid_xについて推論
#out of fold　=　学習に使っているデータ以外の予測
oof = gbm.predict(valid_x, num_iteration=gbm.best_iteration_)
#正解率
print('score', round(accuracy_score(valid_y, oof)*100,2), '%')

score 78.79 %

# optuna

In [ ]:
!pip3 install optuna

In [8]:
import optuna
import optuna.integration.lightgbm as lgb

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#X_trainとy_trainをtrainとvalidに分割
train_x, valid_x, train_y, valid_y = train_test_split(X_train, y_train, test_size=0.33, random_state=0)

#LightGBMの分類器をインスタンス化
gbm = lgb.LGBMClassifier(objective='binary')

#trainとvalidを指定し学習
gbm.fit(train_x, train_y, eval_set = [(valid_x, valid_y)],
        early_stopping_rounds=20, #20回連続でlossが下がらなかったら終了
        verbose=10  #10round毎に、lossを表示
)

Training until validation scores don't improve for 20 rounds.
[10]	valid_0's binary_logloss: 0.490868
[20]	valid_0's binary_logloss: 0.473108
[30]	valid_0's binary_logloss: 0.46972
[40]	valid_0's binary_logloss: 0.468288
[50]	valid_0's binary_logloss: 0.467052
Early stopping, best iteration is:
[37]	valid_0's binary_logloss: 0.466403

LGBMClassifier(objective='binary')

In [19]:
#valid_xについて推論
#out of fold　=　学習に使っているデータ以外の予測
oof = gbm.predict(valid_x, num_iteration=gbm.best_iteration_)
#正解率
print('score', round(accuracy_score(valid_y, oof)*100,2), '%')

score 78.79 %

# 提出

In [20]:
#testの予測
test_pred = gbm.predict(test, num_iteration=gbm.best_iteration_)
sub[1] = test_pred  # sample_submitの列1をtest_predに置き換え